<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.HomeMapper">
    <select id="selectListTheme" parameterType="string" resultType="com.example.demo.ThemeVO">
        select theme_id,theme_title,theme_title_en,thumbnail_link,theme_dscrp
        from product_theme
        where enabled = 1 and date_released &lt;= NOW();
    </select>

    <select id="selectListProduct" parameterType="int" resultType="com.example.demo.ProductVO">
        select
            a.product_id,
            a.title,
            a.image,
            a.price,
            a.pieces,
            a.ages,
            a.product_number,
            a.date_released,
            b.sale_enabled,
            b.discounting,
            b.rate_discount,
            b.ea
        from product_info a
        inner join product_sale b on a.product_id = b.product_id
        where a.theme_id = #{theme_id} and b.sale_enabled > 0
        order by a.price desc
        limit #{offset} ,#{take}
    </select>

    <select id="selectListProductCount" parameterType="int" resultType="int">
        select count(1) as cnt
        from product_info a
                 inner join product_sale b on a.product_id = b.product_id
        where a.theme_id = #{theme_id} and b.sale_enabled > 0
    </select>

    <select id="selectProductInfo" parameterType="int" resultType="com.example.demo.ProductVO">
        select
            a.product_id,
            a.title,
            a.image,
            a.price,
            a.pieces,
            a.ages,
            a.product_number,
            a.date_released,
            b.sale_enabled,

            b.discounting,
            b.rate_discount,
            b.ea,
            a.dtl_img_list
        from product_info a
                 inner join product_sale b on a.product_id = b.product_id
        where a.product_number = #{product_number}
    </select>

    <select id="selectEmailChk" parameterType="java.util.HashMap" resultType="int">
        SELECT COUNT(1) AS CNT
        FROM USER
        WHERE EMAIL = #{email}
        AND ACCOUNT_EXPIRED != TRUE
        AND ACCOUNT_LOCKED != TRUE
        AND ACCOUNT_WITHDRAW != TRUE
    </select>

    <select id="selectUserInfo" parameterType="java.util.HashMap" resultType="com.example.demo.UserVO">
        SELECT
            ID,
            EMAIL,
            NAME,
            IMAGE,
            DATE_CREATED,
            ACCOUNT_EXPIRED,
            ACCOUNT_LOCKED,
            ACCOUNT_WITHDRAW,
            DATE_WITHDRAW,
            GRADE
        FROM USER
        WHERE EMAIL = #{email} AND PASSWORD = #{pw}

    </select>

    <insert id="createAccount" parameterType="java.util.HashMap">
        INSERT INTO USER (EMAIL, PASSWORD, NAME, DATE_CREATED, LAST_UPDATED, ACCOUNT_EXPIRED,
                          ACCOUNT_LOCKED, ACCOUNT_WITHDRAW, DATE_WITHDRAW, GRADE)
        VALUES (#{email},#{pw},#{nickname},NOW(),NOW(),FALSE,FALSE,FALSE,NULL,1)
    </insert>

</mapper>
