<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.HomeMapper">
    <select id="selectListTheme" parameterType="string" resultType="com.example.demo.ThemeVO">
        select theme_id,theme_title,theme_title_en,thumbnail_link,theme_dscrp
        from product_theme
        where enabled = 1 and date_released &lt;= NOW();
    </select>

    <select id="selectListProduct" parameterType="int" resultType="com.example.demo.ProductVO">
        select
            a.product_id,
            a.title,
            a.image,
            a.price,
            a.pieces,
            a.ages,
            a.product_number,
            a.date_released,
            b.sale_enabled,

            b.discounting,
            b.rate_discount,
            b.ea
        from product_info a
        inner join product_sale b on a.product_id = b.product_id
        where a.theme_id = #{theme_id}
        order by a.date_released desc
    </select>

    <select id="selectProductInfo" parameterType="int" resultType="com.example.demo.ProductVO">
        select
            a.product_id,
            a.title,
            a.image,
            a.price,
            a.pieces,
            a.ages,
            a.product_number,
            a.date_released,
            b.sale_enabled,

            b.discounting,
            b.rate_discount,
            b.ea,
            a.dtl_img_list
        from product_info a
                 inner join product_sale b on a.product_id = b.product_id
        where a.product_number = #{product_number}
    </select>
</mapper>
